
/* ABOUT */

.about {
    margin-top: 2em;
  }
  .about--title {
    margin-bottom: 0.5em;
  }
  
  /* INTERESTS */
  .interests {
    margin-top: 2em;
  }
  .interests--title {
    margin-bottom: 0.5em;
  }